<!-- Header -->
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 headline">
                <div class="intro-message">
                    <h1>最小成本建立自己的"互联网+"营销团队 : </h1>
                    <h3>云基础的数字营销平台，提供精準的客户画像、创造独特客户体验、掌握资源分配．</h3>
                    <br/> 
                    <div class="row ">
                        <div class="col-md-8">
                            <form class="form-inline">
                                <div class="form-group">
                                     <div class="input-group input-group-lg">
                                        <input type="text" class="form-control" placeholder="邮件註册">
                                    </div> 
                                    <a class="btn btn-warning btn-lg">註冊郵箱</a>
                                    <a class="btn btn-info btn-lg">马上想了解</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->

<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                      <div class="col-md-12 text-center">
                            <h2>今日倒数 11:00:20，测试卷剩下 10 张</h2>
                            <h5>为了给你最好的服务，每日只发10个测试帐号</h3>
                            <a href="" class="btn btn-default btn-lg">了解更多</a>
                      </div>
                  </div>  
            </div>
        </div>    
    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->

<!-- Page Content -->

<a  name="services"></a>
<div class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">比客户更瞭解客户，创造最佳个性化体验：</h2>
                <p class="lead">线上线下营销活动一体化，确切掌握客户画像．推送无法拒绝的内容与产品，让客户每天都想到你的服务，成交越多增长越快．</p>
                <br>
                <a class="btn btn-default btn-lg">了解更多</a>   
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive hideme" src="img/ipad.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">自动化管理，再也不漏小资料大商机：</h2>
                <p class="lead">集成管理现有数据、自动化测试最棒的营销想法，了解客户族群真正感兴趣的内容与讯息，让每一次营销活动推送都获得巨大成功．</p>
               <a class="btn btn-default btn-lg">了解更多</a> 
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="img/dog.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->

<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">掌握多渠道绩效，快速调整行销资源分配</h2>
                <p class="lead">串连主流媒体渠道<strong>微信</strong>、<strong>邮件</strong>、<strong>官方网站</strong>等，整合渠道数据，让营销人员快速了解活动绩效，适时反应调配资源，在对的场景与对的客户建立紧密关係．</p>
                <a class="btn btn-default btn-lg">了解更多</a> 
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/phones.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<a  name="contact"></a>
<div class="banner">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>这方案我已经找很久了</h2>
                <br>
                <a href="" class="btn btn-lg btn-warning">立马试用</a>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.banner -->