<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 headline text-center">
                <div class="intro-message">
                    <h1>路人变成常客，好简单</h1>
                    <h3 style="margin-top:50px;">云数字营销平台，全渠道一体化操作，建立数字雷达优势，成长无极限</h3>
                    <img style="margin-top:80px;" src="/img/img_banner.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->

<div class="content-section-input">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                      <div class="col-md-12 text-center">
                            <h2 style="font-size:28px;"> <span style="font-size:62px; color:#1ca8dd; font-style: italic;">3/1</span> Beta发佈，请优先告诉我！</h2>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
                                    <div class="input-group" style="margin-top:20px;">
                                      <input type="text" class="form-control" placeholder="公司邮箱">
                                      <span class="input-group-btn">
                                        <button class="btn btn-secondary" type="button" style="border-top-right-radius:50px;border-bottom-right-radius:50px;height:50px; background:#1ca8dd;">马上告诉我！</button>
                                      </span>
                                    </div>
                                </div>
                            </div> 
                      </div>
                  </div>  
            </div>
        </div>    
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-b -->

<!-- Page Content -->

<div class="content-section-channel">
    <div class="container ">
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <div class="content">
                    <h2 class="section-title">全渠道线索捕捉：</h2>
                    <p class="section-p">串连主流媒体渠道<strong>微信</strong>、<strong>官方网站</strong>等，整合线上线下渠道数据，无缝捕捉客户线索，客户增长将不是难事。</p> 
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <img class="img-responsive hideme img" src="img/img_clues.png" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->

<div class="content-section-tools">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <img class="img-responsive img" src="img/img_tools.png" alt="">
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="content-1">
                    <h2 class="section-title">零门槛起步营销执行：</h2>
                    <p class="section-p-b">无需编程，无需埋点，不让技术力成為你的竞争劣势，让市场人员专注和客户沟通，快速建立<strong>“互联网+”</strong> 营销团队。</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-b -->

<div class="content-section-automation">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <div class="content-c">
                    <h2 class="section-title-b">个性化自动化: </h2>
                    <p class="section-p-c">掌握客户画像资料库，设置简单工作流．更有效率地推送无法拒绝的内容与产品，创造他人没有的服务优势，让客户只想到你的服务，成交越多增长越快。</p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <img class="img-responsive img" src="img/img_auto.png" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->

<div class="content-section-digital">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <img class="img-responsive img" src="img/img_chart.png"/>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="content-d">
                    <h2 class="section-title-c">量化绩效，优化资源：</h2>
                    <p class="section-p-d">简单易读的营销报表，有重点地瞭解更多讯息，追踪每个媒体资源和营销活动，找到企业的成长利基，让营销成果一次比一次更好。</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-b -->

<div class="content-section-solution">

    <div class="container">
        <h2 class="sln-title">行業解決方案</h2>
        <div class="row">
            <div class="col-lg-4">
            <a href="">
                <img src="/img/icon_industry_car.png">
            </a>
            </div>
            <div class="col-lg-4"><img src="/img/icon_industry_clothing.png"></div>
            <div class="col-lg-4"><img src="/img/icon_industry_furniture.png"></div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->

<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="banner-title">如果你市场人员，老是被公司边缘化</h3>
                <h3 class="banner-title" style="line-width:40px;">如果你市场人员，没有强大技术支持</h3>
                <div class="row" style="margin-top:100px;">
                   <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
                        <div class="input-group" style="margin-top:20px;">
                          <input type="text" class="form-control" placeholder="公司邮箱">
                          <span class="input-group-btn">
                            <button class="btn btn-warning" type="button" style="border-top-right-radius:50px;border-bottom-right-radius:50px;height:50px;">马上告诉我！</button>
                          </span>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.banner