Header -->
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 headline text-center">
                <div class="intro-message">
                    <h1>路人變成常客，好簡單</h1>
                    <h3>云数字营销平台，全渠道一體化操作，建立數字雷達優勢，成長無極限．</h3>
                    <br/> 
                    <div class="row ">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="row">
                                <div class="col-lg-4 col-lg-offset-4">
                                    <a class="btn btn-warning btn-lg btn-block"  ui-sref="signup">申请试用</a>    
                                </div>
                            </div>
                            
                            <a ui-sref="demo" style="color:white; text-decoration: underline; display:block; margin-top:5px;">马上想了解，請求演示</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->

<!-- <div class="content-section-b"> -->

<!--     <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                      <div class="col-md-12 text-center">
                            <h2>今日倒数 11:00:20，测试卷剩下 10 张</h2>
                            <h5>为了给你最好的服务，每日只发10个测试帐号</h3>
                      </div>
                  </div>  
            </div>
        </div>    
    </div> -->
    <!-- /.container -->
<!-- </div> -->
<!-- /.content-section-b -->

<!-- Page Content -->

<a  name="services"></a>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">全渠道线索捕捉：</h2>
                <p class="lead">串连主流媒体渠道<strong>微信</strong>、<strong>官方网站</strong>等，整合線上線下渠道数据，無縫捕捉客戶線索，有重點地瞭解更多訊息，客戶增長將不是難事．</p> 
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive hideme" src="img/multi-channel.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">零门槛起步营销执行：</h2>
                <p class="lead">無需編程，無需埋點，不讓技術力成為你的劣勢，讓市場人員專注和客戶溝通，客戶成長引擎，馬上發動．</p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="img/widget.jpg" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-b -->

<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">个性化自动化: </h2>
                <p class="lead">线上线下营销活动一体化，确切掌握客户画像．推送无法拒绝的内容与产品，让客户每天都想到你的服务，成交越多增长越快．</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/marketing-automation.jpg" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">量化绩效，优化资源：</h2>
                <p class="lead">量化每個營銷活動，追蹤每個媒體資源投放，找到企業的成長利基，讓營銷成果一次比一次更好</p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="img/growth-chart.jpg" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-b -->

<div class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-center">行业解决方案</h2>
                <div class="row text-center">
                    <div class="col-lg-4"><img src="img/cars.jpg" width="350" height="220"/><p class="lead">汽修业</p></div>
                     <div class="col-lg-4"><img src="img/suits.jpg" width="350" height="220" /><p class="lead">高端定制服饰业</p></div>
                    <div class="col-lg-4"><img src="img/furniture.jpg" width="350" height="220" /><p class="lead">家具业</p></div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<a  name="contact"></a>
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>如果你市場人員，老是被公司邊緣化</h2>
                <h2>如果你市場人員，沒有強大技術支持</h2>
                <br>
                <a ui-sref="signup" class="btn btn-lg btn-warning">請找我演示</a>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.banner