<nav class="navbar navbar-default navbar-fixed-top topnav"  role="navigation" id="nav">
    <div class="container topnav"> 
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> 
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" ui-sref="landing.home">成長熊貓</a>
        </div>
    </div>
</nav>
<div class="content-section-b">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-12">
        <h2>See how Infusionsoft Helps Small Businesses Thrive</h2>
        <p class="lead">Discover how 30,000 Infusionsoft customers grow sales, get organized, save time and thrive. Check out the interactive product demo to see what Infusionsoft can do for your business.</p>
        <form class="form-inline">
          <div class="form-group">
            <label class="sr-only" for="exampleInputEmail3">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
          </div>
          <div class="form-group">
            <label class="sr-only" for="exampleInputPassword3">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
          </div>
        </form>
        <form class="form-inline">
          <div class="form-group">
            <label class="sr-only" for="exampleInputEmail3">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
          </div>
          <div class="form-group">
            <label class="sr-only" for="exampleInputPassword3">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
          </div>
        </form>
        <form class="form-inline">
           <label class="sr-only" for="exampleInputPassword3">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
        </form>
        <button type="submit" class="btn btn-default">Sign in</button> 
      </div>
    </div>
  </div>
</div>
<div class="content-section-a">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="row text-center">
        <div class="col-lg-6">
          <h2>discription</h2>
        </div>
        <div class="col-lg-6">
          <h2>list of features</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content-section-b">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Testmonials</h2>
    </div>
  </div>
</div>
<div class="content-section-a">
  <div class="row">
    <div class="col-lg-12 text-center">
      <a href="" class="btn btn-lg btn-warning">申請試用</a>
    </div>
  </div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a href="#">首页</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#about">关於我们</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#services">产品特色</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact">联繫我们</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copywrite &copy; Your Company 2014. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>