<div class="about-header">
  <div class="row">
    <div class="col-lg-12 text-center">
        <h2>一句話敘述我們團隊和我們的影響力</h2> 
        <button class="btn btn-default btn-lg" id="joinus">加入我們</button> 
    </div>
  </div>
</div>
<div class="row">
    <div class="col-lg-5 col-md-4">  
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <div class="clearfix"></div> 
          <br/>
          <br/>
          <br/>
          <br/>
          <h2 class="section-heading">我們的故事</h2>
          <p class="lead">我們在打造一全棧行銷解決方案．讓企業有效利用手上資料，提煉商業洞見，優化用戶體驗，協助企業在”互聯網+”的大洪流中，從傳統銷售增長變成數據驅動增長．</p>
          <hr class="section-heading-spacer">
        </div>
      </div>            
    </div>
    <div class="col-lg-5 col-md-8">
        <img height="500"  src="img/story.jpg" alt="">
    </div>
</div>    
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
               <h2 class="section-heading-b">創始團隊</h2>
               <p class="lead text-center section-description">专注企业SaaS十二年，成功研发并推广数款有全球影响力的产品</p>
               <div class="col-sm-6 col-md-3">
                  <img src="img/people.jpg" height="250" width="250" class="img-circle">       
                  <h3>高鵬</h3>
                  <p class="lead">我們是以技術為核心的公司，我們相信擁有堅強技術是通往頂峰的唯一方法，不論你對行銷技術 程式技術有興趣，不斷地琢磨與精進</p>
              </div>
              <div class="col-sm-6 col-md-3">
                  <img src="img/people.jpg" height="250" width="250" class="img-circle">       
                  <h3>盛夏</h3>
                  <p class="lead">我們是以技術為核心的公司，我們相信擁有堅強技術是通往頂峰的唯一方法，不論你對行銷技術 程式技術有興趣，不斷地琢磨與精進</p>
              </div>
              <div class="col-sm-6 col-md-3">
                  <img src="img/people.jpg" height="250" width="250" class="img-circle">       
                  <h3>王琤</h3>
                  <p class="lead">我們是以技術為核心的公司，我們相信擁有堅強技術是通往頂峰的唯一方法，不論你對行銷技術 程式技術有興趣，不斷地琢磨與精進</p>
              </div>
              <div class="col-sm-6 col-md-3">
                  <img src="img/people.jpg" height="250" width="250" class="img-circle">       
                  <h3>李征</h3>
                  <p class="lead">我們是以技術為核心的公司，我們相信擁有堅強技術是通往頂峰的唯一方法，不論你對行銷技術 程式技術有興趣，不斷地琢磨與精進</p>
              </div>
            </div>
        </div>    
    </div>
</div>

<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h2 class="section-heading-b text-center">我們的文化</h2>
            <p class="lead text-center section-description">专注企业SaaS十二年，成功研发并推广数款有全球影响力的产品</p>
              <div class="row text-center">
                <div class="col-sm-6 col-md-4">
                   <i class="fa fa-terminal fa-5x"></i>          
                    <h3>技術驅動</h3>
                    <p class="lead">我們是以技術為核心的公司，我們相信擁有堅強技術是通往頂峰的唯一方法，不論你對行銷技術 程式技術有興趣，不斷地琢磨與精進</p>
                </div>
                 <div class="col-sm-6 col-md-4">
                    <i class="fa fa-sort-alpha-desc fa-5x"></i>          
                    <h3>結果導向</h3>
                    <p class="lead">“不管黑貓白貓，能抓到老鼠的都是好貓”，解決問題是我們唯一的信條，我們願意採納任何的解決方法，只為客戶創造最大價值</p>
                </div>
                 <div class="col-sm-6 col-md-4" >
                    <i class="fa fa-star-half-o fa-5x"></i>              
                    <h3>反骨反常識</h3>
                     <p class="lead">我們相信"非常態"的力量，我們喜歡用不同的角度思考問題，邀請各種不同背景的人來一起解決問題</p>
                </div>
              </div>
            </div>
        </div>    
    </div>
</div>
<div class="row" >
  <div class="col-lg-12">
    <div class="row" >
        <div class="col-sm-12 col-md-8">
          <img src="img/startup-life.jpg" alt="" />
        </div>
        <div class="col-sm-12 col-md-4">
          <h2 class="section-heading" id="career">一個新機會</h2>
          <p class="lead"><i class="fa fa-money fa-lg"></i>&emsp;極具競爭力的薪資待遇</p><br>
          <p class="lead"><i class="fa fa-stethoscope fa-lg"></i>&emsp;五金一險納保</p><br>
        </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
             <h3 class="section-heading" style="color:#5bc0de;margin-bottom:20px;" >招聘職缺</h3>
             <p class="lead section-description">
               我們是以技術為核心的公司，我們相信擁有堅強技術是通往頂峰的唯一方法，不論你對行銷技術 程式技術有興趣，不斷地琢磨與精進
             </p>
             <h3 class="section-heading" style="color:#5bc0de;">技術團隊</h2>
             <hr style="width: 100%; color: black; height: 2px; background-color:gray;" />
             <div class="row">
                <div class="col-md-3"  ng-repeat="i in [1,2,3,4,5,6,7,8]">
                  <h4 class="section-heading">工程師{{i}}號</h4>
                  <p class="lead">網頁前端</p>
                </div>
             </div>
             <h3 class="section-heading" style="color:#5bc0de;">運營團隊</h2>
             <hr style="width: 100%; color: black; height: 2px; background-color:gray;" />
             <div class="row">
                <div class="col-md-3"  ng-repeat="i in [1,2,3,4,5,6,7,8]">
                  <h4 class="section-heading">運營{{i}}號</h4>
                  <a href="#/careers/{{i}}">詳細介紹</a>
                </div>
             </div>
          </div>
        </div>
      </div>
  </div>   
</div>
 

<div class="content-section-a" style="background-color:black;">
  <div class="row" >
    <div class="col-lg-12 text-center">
      <h2 style="color:white;">如果你我真的不匹配，可否幫我們推薦一個人選</h2>
      <a href="" class="btn btn-primary btn-lg">我有人選</a>
    </div>
  </div>
</div>
