<nav class="navbar navbar-default navbar-fixed-top topnav"  role="navigation" id="nav">
    <div class="container topnav"> 
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> 
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" ui-sref="landing.home">成長熊貓</a>
        </div>
    </div>
</nav>
<div class="content-section-b">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-12">
        <h2>成長熊貓教你如何用數字獲取更多客戶</h2>
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1">
             <p class="lead">成長熊貓建立強大的集成信息架構，集合商家的營銷數字，瞄準你的淺在客戶，吸引到店，讓陌生人變成你的熟客</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-lg-offset-3">
            <form role="form">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="姓氏">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="名稱">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="公司郵箱">
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="手機號碼">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="公司名稱">
                  </div>
                </div>
              </div>
              <a ui-sref="" type="submit" class="btn btn-md btn-block btn-info">提交申請</a> 
            </form>
          </div>
        </div>
      
      </div>
    </div>
  </div>
</div>
<div class="content-section-a">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="row">
        <div class="col-lg-6">
          <h2>discription</h2>
        </div>
        <div class="col-lg-6">
          <div class="media">
            <div class="media-left media-top">
              <i class="fa fa-check-square-o fa-4x" style="color:green"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">微信營銷</h4>
              <p>Centralize all customer interactions and daily activities in one place</p>
            </div>
          </div>
          <div class="media">
            <div class="media-left media-top">
              <i class="fa fa-television fa-4x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">網店營銷</h4>
              <p>Centralize all customer interactions and daily activities in one place</p>
            </div>
          </div>
          <div class="media">
            <div class="media-left media-top">
              <i class="fa fa-users fa-4x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">淺在客戶分析</h4>
              <p>Centralize all customer interactions and daily activities in one place</p>
            </div>
          </div>  
          <div class="media">
            <div class="media-left media-top">
              <i class="fa fa-line-chart fa-4x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">數字營銷報表</h4>
              <p>Centralize all customer interactions and daily activities in one place</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content-section-b">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Testmonials</h2>
    </div>
  </div>
</div>
<div class="content-section-a">
  <div class="row">
    <div class="col-lg-12 text-center">
      <a ui-sref="signup" class="btn btn-lg btn-warning">申請試用</a>
    </div>
  </div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a ui-sref="landing.home">首页</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a ui-sref="landing.about">关於我们</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a ui-sref="landing.features">产品特色</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact">联繫我们</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copywrite &copy; Your Company 2014. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>